* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: black;
}

.navbar {
    height: 50px;
    color: white;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    color: white;
    font-size: 18px;
    font-weight: 700;
    padding-left: 10px;
}

#menu {
    color: white;
    font-size: 18px;
    font-weight: 400;
}

li {
    display: inline-block;
    padding-right: 10px;
}

button, input[type="text"] {
  padding: 5px;
}

button:hover {
  cursor: pointer;
  background-color: orange;
  
}

.search-button {
  height: 30px;
  color: white;
  background-color: black;
  border: none;
  
}

.container {
  height: 650px;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 8%;
  padding-right: 8%;
  text-align: center;
  /*background-image: url(https://raw.githubusercontent.com/brendanreape88/API_Hack_Capstone/master/images/API_Backdrop.jpg);*/
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('https://raw.githubusercontent.com/brendanreape88/API_Hack_Capstone/master/images/API_Backdrop.jpg');
  background-position: center;
  background-size: cover;
}

.title {
  font-size: 10vw;
  margin-bottom: 10px;
  color: white;
}

.slogan {
  font-size: 5vw;
  margin-bottom: 50px;
  color: white;
}

h3 {
  font-size: 5vw;
  color: white;
}

.hotel-name {
  font-size: 4vw;
  color: orange;
  margin-bottom: 0;
}

.hotel-rating {
  font-size: 4vw;
  color: yellow;
}

p {
    font-size: 4vw;
    color: white;
    font-weight: 400;
}

a {
  color: yellow;
}

a:link {
  font-size: 10vw;
  text-decoration: none;
}

a:hover {
   color: orange;
}

input {
  width: 70vw;
  height: 30px;
  border: 3px solid black;
}

.error-message {
    color: red;
}

.parkPic {
    width: 90%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.hidden {
  display: none;
}

.results, .deets, .hotels {
  color: white;
  background-color: black;
  padding-top: 20px;
  padding-bottom: 0px;
  padding-left: 8%;
  padding-right: 8%;
}

.park-pic-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hotel-grouping-box {
    text-align: center;
}

.hotel-list-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error-message {
    margin-top: 10%;
    font-weight: 700;
    font-size: 5vw;
    color: yellow;
}

label {
  color: white;
  text-align: left;
}

@media only screen and (min-width: 481px) {

.container {
  height: 1000px;
}

.title {
  margin-bottom: 33px;
}

.slogan {
  margin-bottom: 100px;
}
  
} 

@media only screen and (min-width: 835px) {
  .hero-box {
      width: 800px;
      margin-left: auto;
      margin-right: auto;
  }

  .container {
      padding-left: 0;
      padding-right: 0;
  }

  .title {
      font-size: 88px;
      margin-bottom: 10px;
      color: white;
    }
  
    .slogan {
      font-size: 50px;
      margin-bottom: 100px;
      color: white;
    }
  
    h3 {
      font-size: 50px;
      color: white;
    }

    .parkPic {
        width: 30%;
        padding-left: 1.5%;
        padding-right: 1.5%;
    }

    .park-pic-box {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
  
    .hotel-name {
      font-size: 25px;
      color: orange;
      margin-bottom: 0;
    }
  
    .hotel-rating {
      font-size: 25px;
      color: yellow;
    }
  
    p {
        font-size: 35px;
        color: white;
        font-weight: 400;
    }
    
    a:link {
      font-size: 88px;
    }

    input {
        width: 700px;
    }

    .hotel-grouping-box {
        margin-left: 5%;
        margin-right: 5%;
        width: 33%;
    }

    .hotel-list-box {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
  }
  
} 